form {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.container .title {
  margin-top: 25px;
}
.container {
  width: 300px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover {
  filter: brightness(0.5);
}
